{
    "elements": [
        {
            "x": 5,
            "y": 5,
            "width": 90,
            "height": 10,
            "action": {
                "library": "H5P.AdvancedText 1.1",
                "params": {
                        "text": {{("<h2>" ~ slide.title ~ "</h2>") | tojson }} 
                    },
                "subContentId": "{{uuid}}",
                "metadata": {
                "contentType": "Text",
                "license": "U",
                "title": "Unbenannt: Text"
                }
            },
            "alwaysDisplayComments": false,
            "backgroundOpacity": 0,
            "displayAsButton": false,
            "buttonSize": "big",
            "goToSlideType": "specified",
            "invisible": false,
            "solution": ""
        },
        {
            "x": 5,
            "y": 20,
            "width": 90,
            "height": 75,
            "action":{{ slide.element | tojson | safe }},
            "alwaysDisplayComments": false,
            "backgroundOpacity": 0,
            "displayAsButton": false,
            "buttonSize": "big",
            "goToSlideType": "specified",
            "invisible": false,
            "solution": ""
        }{% if slide.element_config.tip %},
        {
            "x": 90,
            "y": 5,
            "width": 40,
            "height": 40,
            "action": {
              "library": "H5P.AdvancedText 1.1",
              "params": {
                "text": "{{ slide.element_config.tip | safe }}"
              },
              "subContentId": "2de48eb9-ceb7-4f8b-a476-b690a28417bb",
              "metadata": {
                "contentType": "Text",
                "license": "U",
                "title": "Unbenannt: Text"
              }
            },
            "alwaysDisplayComments": false,
            "backgroundOpacity": 0,
            "displayAsButton": true,
            "buttonSize": "big",
            "goToSlideType": "specified",
            "invisible": false,
            "solution": ""
          }{% endif %}
    ]
}