{
    "library": "H5P.AdvancedText 1.1",
    "params": {
            "text": {{ (
            "<div class='scrollable-text'>" ~ (text) ~ "</div>"
        ) | tojson }} 
        },
    "subContentId": "{{uuid}}",
    "metadata": {
    "contentType": "Text",
    "license": "U",
    "title": "Unbenannt: Text"
    }
}